In [11]:
from pandas import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer

In [12]:
df = pd.read_csv('NationalNames.csv')


#df.isnull().sum()
#print (df)
# #print (len(df))
print ("%d names in dataset" %len(df))

# print(df.count())

df = df.drop_duplicates(subset="Name")
df.head()
# #print(df.shape[0])
# print(df.index)

1825433 names in dataset

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [13]:

# df = df[~np.isnan(df)]
# df = df[np.isfinite(df)]

In [14]:
print (df[df.Gender == 'F'].count())

Id        59930
Name      59930
Year      59930
Gender    59930
Count     59930
dtype: int64

In [15]:
print (df[df.Gender == 'M'].count())

Id        33959
Name      33959
Year      33959
Gender    33959
Count     33959
dtype: int64

In [16]:
# Check if the name ends in vowel
def checkVowelEnd(name):
    if name[-1] in "aeiou":
        return "Vowel End"
    return "Consonant End"

In [17]:
df["Vowel/Consonant End"] = df["Name"].apply(checkVowelEnd)
df.head()

   Id       Name  Year Gender  Count Vowel/Consonant End
0   1       Mary  1880      F   7065       Consonant End
1   2       Anna  1880      F   2604           Vowel End
2   3       Emma  1880      F   2003           Vowel End
3   4  Elizabeth  1880      F   1939       Consonant End
4   5     Minnie  1880      F   1746           Vowel End

In [18]:
def checkGender(gender):
    if gender == "F":
        return 0
    else:
        return 1
    
df["Gender Value"] = df["Gender"].apply(checkGender)

df.head(-20)
#df.count

,Id,Name,Year,Gender,Count,Vowel/Consonant End,Gender Value
0,1,Mary,1880,F,7065,Consonant End,0
1,2,Anna,1880,F,2604,Vowel End,0
2,3,Emma,1880,F,2003,Vowel End,0
3,4,Elizabeth,1880,F,1939,Consonant End,0
4,5,Minnie,1880,F,1746,Vowel End,0
...,...,...,...,...,...,...,...
1825351,1825352,Yarell,2014,M,5,Consonant End,1
1825354,1825355,Yazziel,2014,M,5,Consonant End,1
1825355,1825356,Yeidan,2014,M,5,Consonant End,1
1825356,1825357,Yexiel,2014,M,5,Consonant End,1
1825365,1825366,Yule,2014,M,5,Vowel End,1

In [19]:
def compare(group):
    return df.groupby([group])["Gender Value"].sum()*100/df.groupby([group])["Gender Value"].count()

In [20]:
# df.groupby(["Vowel/Consonant End"])['Gender Value'].count()
# df.head()
g=df.groupby(['Vowel/Consonant End','Gender Value'])
g.head()

        Id       Name  Year Gender  Count Vowel/Consonant End  Gender Value
0        1       Mary  1880      F   7065       Consonant End             0
1        2       Anna  1880      F   2604           Vowel End             0
2        3       Emma  1880      F   2003           Vowel End             0
3        4  Elizabeth  1880      F   1939       Consonant End             0
4        5     Minnie  1880      F   1746           Vowel End             0
5        6   Margaret  1880      F   1578       Consonant End             0
6        7        Ida  1880      F   1472           Vowel End             0
7        8      Alice  1880      F   1414           Vowel End             0
9       10      Sarah  1880      F   1288       Consonant End             0
21      22      Mabel  1880      F    808       Consonant End             0
952    953     Edward  1880      M   2364       Consonant End             1
957    958     Albert  1880      M   1493       Consonant End             1
958    959     Samuel  1880      M   1024       Consonant End             1
959    960      David  1880      M    869       Consonant End             1
962    963    Charlie  1880      M    730           Vowel End             1
964    965    Richard  1880      M    728       Consonant End             1
994    995     Eugene  1880      M    328           Vowel End             1
1004  1005       Otto  1880      M    271           Vowel End             1
1006  1007   Lawrence  1880      M    257           Vowel End             1
1011  1012   Theodore  1880      M    232           Vowel End             1

In [21]:
print (len(df))
# > 93889 = 43635 + 50254

93889

In [22]:
#female_names = sum(df.groupby(["Vowel/Consonant End"])["Gender Value"].sum())
female_names =( df.groupby(['Vowel/Consonant End','Gender Value'])).size()

all_names = df.groupby(["Gender"])["Gender Value"].count()
print (female_names)
#print (all_names)
# print ("\nBoth are equal? %s" % str(female_names == all_names["F"]))

Vowel/Consonant End  Gender Value
Consonant End        0               17506
                     1               26129
Vowel End            0               42424
                     1                7830
dtype: int64

In [23]:
print(df.groupby(["Vowel/Consonant End"])["Gender Value"].sum()*100/df.groupby(["Vowel/Consonant End"])["Gender Value"].count())

Vowel/Consonant End
Consonant End    59.880830
Vowel End        15.580849
Name: Gender Value, dtype: float64

In [24]:
print(compare("Vowel/Consonant End"))

Vowel/Consonant End
Consonant End    59.880830
Vowel End        15.580849
Name: Gender Value, dtype: float64

In [25]:
def vowelConsonantstart(name):
    if name[0] in "aeiou":
        return "vowel start"
    else:
        return "consonant Start"
        
df["Vowel/Consonant Start"] = df["Name"].apply(vowelConsonantstart)
names =( df.groupby(['Vowel/Consonant Start','Gender Value'])).size()
print(names)
#print("\n Comparison => %s", compare("Vowel/Consonant Start"))
df.head()

Vowel/Consonant Start  Gender Value
consonant Start        0               59930
                       1               33959
dtype: int64

,Id,Name,Year,Gender,Count,Vowel/Consonant End,Gender Value,Vowel/Consonant Start
0,1,Mary,1880,F,7065,Consonant End,0,consonant Start
1,2,Anna,1880,F,2604,Vowel End,0,consonant Start
2,3,Emma,1880,F,2003,Vowel End,0,consonant Start
3,4,Elizabeth,1880,F,1939,Consonant End,0,consonant Start
4,5,Minnie,1880,F,1746,Vowel End,0,consonant Start

In [26]:
def shortLongName(name):
    if len(name) < 7:
        return "Short"
    else:
        return "Long"

df["Short/Long Name"] = df["Name"].apply(shortLongName)
longshort_name =( df.groupby(['Short/Long Name','Gender Value'])).size()
print(longshort_name)
#print(compare("Short/Long Name"))
df.head()

Short/Long Name  Gender Value
Long             0               32331
                 1               13438
Short            0               27599
                 1               20521
dtype: int64

,Id,Name,Year,Gender,Count,Vowel/Consonant End,Gender Value,Vowel/Consonant Start,Short/Long Name
0,1,Mary,1880,F,7065,Consonant End,0,consonant Start,Short
1,2,Anna,1880,F,2604,Vowel End,0,consonant Start,Short
2,3,Emma,1880,F,2003,Vowel End,0,consonant Start,Short
3,4,Elizabeth,1880,F,1939,Consonant End,0,consonant Start,Long
4,5,Minnie,1880,F,1746,Vowel End,0,consonant Start,Short

In [28]:
# By Analogy most female names ends in 'A' or 'E' or has the sound of 'A'
def features(name):
    name = name.lower()
    return {
        'first-letter'  : name[0], # First letter
        'first2-letters': name[0:2], # First 2 letters
        'first3-letters': name[0:3], # First 3 letters
        'last-letter'   : name[-1],
        'last2-letters' : name[-2:],
        'last3-letters' : name[-3:],
    }

In [29]:
df["features"] = df["Name"].apply(features)
df.head()

,Id,Name,Year,Gender,Count,Vowel/Consonant End,Gender Value,Vowel/Consonant Start,Short/Long Name,features
0,1,Mary,1880,F,7065,Consonant End,0,consonant Start,Short,"{'first-letter': 'm', 'first2-letters': 'ma', ..."
1,2,Anna,1880,F,2604,Vowel End,0,consonant Start,Short,"{'first-letter': 'a', 'first2-letters': 'an', ..."
2,3,Emma,1880,F,2003,Vowel End,0,consonant Start,Short,"{'first-letter': 'e', 'first2-letters': 'em', ..."
3,4,Elizabeth,1880,F,1939,Consonant End,0,consonant Start,Long,"{'first-letter': 'e', 'first2-letters': 'el', ..."
4,5,Minnie,1880,F,1746,Vowel End,0,consonant Start,Short,"{'first-letter': 'm', 'first2-letters': 'mi', ..."

In [30]:
def checkfeature(name):
    if name[-1] in "a,e":
        return "a"
    return "b"
df["Feature End"] = df["Name"].apply(checkfeature)
df.head(-20)

,Id,Name,Year,Gender,Count,Vowel/Consonant End,Gender Value,Vowel/Consonant Start,Short/Long Name,features,Feature End
0,1,Mary,1880,F,7065,Consonant End,0,consonant Start,Short,"{'first-letter': 'm', 'first2-letters': 'ma', ...",b
1,2,Anna,1880,F,2604,Vowel End,0,consonant Start,Short,"{'first-letter': 'a', 'first2-letters': 'an', ...",a
2,3,Emma,1880,F,2003,Vowel End,0,consonant Start,Short,"{'first-letter': 'e', 'first2-letters': 'em', ...",a
3,4,Elizabeth,1880,F,1939,Consonant End,0,consonant Start,Long,"{'first-letter': 'e', 'first2-letters': 'el', ...",b
4,5,Minnie,1880,F,1746,Vowel End,0,consonant Start,Short,"{'first-letter': 'm', 'first2-letters': 'mi', ...",a
...,...,...,...,...,...,...,...,...,...,...,...
1825351,1825352,Yarell,2014,M,5,Consonant End,1,consonant Start,Short,"{'first-letter': 'y', 'first2-letters': 'ya', ...",b
1825354,1825355,Yazziel,2014,M,5,Consonant End,1,consonant Start,Long,"{'first-letter': 'y', 'first2-letters': 'ya', ...",b
1825355,1825356,Yeidan,2014,M,5,Consonant End,1,consonant Start,Short,"{'first-letter': 'y', 'first2-letters': 'ye', ...",b
1825356,1825357,Yexiel,2014,M,5,Consonant End,1,consonant Start,Short,"{'first-letter': 'y', 'first2-letters': 'ye', ...",b
1825365,1825366,Yule,2014,M,5,Vowel End,1,consonant Start,Short,"{'first-letter': 'y', 'first2-letters': 'yu', ...",a

In [31]:
g=df.groupby(['Feature End','Gender'])
g.head()

,Id,Name,Year,Gender,Count,Vowel/Consonant End,Gender Value,Vowel/Consonant Start,Short/Long Name,features,Feature End
0,1,Mary,1880,F,7065,Consonant End,0,consonant Start,Short,"{'first-letter': 'm', 'first2-letters': 'ma', ...",b
1,2,Anna,1880,F,2604,Vowel End,0,consonant Start,Short,"{'first-letter': 'a', 'first2-letters': 'an', ...",a
2,3,Emma,1880,F,2003,Vowel End,0,consonant Start,Short,"{'first-letter': 'e', 'first2-letters': 'em', ...",a
3,4,Elizabeth,1880,F,1939,Consonant End,0,consonant Start,Long,"{'first-letter': 'e', 'first2-letters': 'el', ...",b
4,5,Minnie,1880,F,1746,Vowel End,0,consonant Start,Short,"{'first-letter': 'm', 'first2-letters': 'mi', ...",a
5,6,Margaret,1880,F,1578,Consonant End,0,consonant Start,Long,"{'first-letter': 'm', 'first2-letters': 'ma', ...",b
6,7,Ida,1880,F,1472,Vowel End,0,consonant Start,Short,"{'first-letter': 'i', 'first2-letters': 'id', ...",a
7,8,Alice,1880,F,1414,Vowel End,0,consonant Start,Short,"{'first-letter': 'a', 'first2-letters': 'al', ...",a
9,10,Sarah,1880,F,1288,Consonant End,0,consonant Start,Short,"{'first-letter': 's', 'first2-letters': 'sa', ...",b
21,22,Mabel,1880,F,808,Consonant End,0,consonant Start,Short,"{'first-letter': 'm', 'first2-letters': 'ma', ...",b
952,953,Edward,1880,M,2364,Consonant End,1,consonant Start,Short,"{'first-letter': 'e', 'first2-letters': 'ed', ...",b
957,958,Albert,1880,M,1493,Consonant End,1,consonant Start,Short,"{'first-letter': 'a', 'first2-letters': 'al', ...",b
958,959,Samuel,1880,M,1024,Consonant End,1,consonant Start,Short,"{'first-letter': 's', 'first2-letters': 'sa', ...",b
959,960,David,1880,M,869,Consonant End,1,consonant Start,Short,"{'first-letter': 'd', 'first2-letters': 'da', ...",b
962,963,Charlie,1880,M,730,Vowel End,1,consonant Start,Long,"{'first-letter': 'c', 'first2-letters': 'ch', ...",a
964,965,Richard,1880,M,728,Consonant End,1,consonant Start,Long,"{'first-letter': 'r', 'first2-letters': 'ri', ...",b
994,995,Eugene,1880,M,328,Vowel End,1,consonant Start,Short,"{'first-letter': 'e', 'first2-letters': 'eu', ...",a
1006,1007,Lawrence,1880,M,257,Vowel End,1,consonant Start,Long,"{'first-letter': 'l', 'first2-letters': 'la', ...",a
1011,1012,Theodore,1880,M,232,Vowel End,1,consonant Start,Long,"{'first-letter': 't', 'first2-letters': 'th', ...",a
1020,1021,Horace,1880,M,199,Vowel End,1,consonant Start,Short,"{'first-letter': 'h', 'first2-letters': 'ho', ...",a

In [32]:
names =(df.groupby(['Feature End','Gender'])).size()
#female_names =(df.groupby(['features','Gender Value'])).count()

#all_names = df.groupby(["Gender"])["Gender Value"].count()
print (names)

Feature End  Gender
a            F         38333
             M          4212
b            F         21597
             M         29747
dtype: int64

In [33]:
#df.info()
# training_data = df[['Gender Value', 'Vowel/Consonant Start', 'Short/Long Name', 'Vowel/Consonant End']]
# training_data.head()
X= df[['Vowel/Consonant Start', 'Short/Long Name', 'Vowel/Consonant End','Feature End']]
y= df ['Gender Value']
#X.head()
#y.head()

In [35]:
def reprCategory(column):
    column = column.astype("category")
    return column.cat.codes
    
# training_data[["Vowel/Consonant End", "Short/Long Name", "Vowel/Consonant Start"]] = training_data[["Vowel/Consonant End", "Short/Long Name", "Vowel/Consonant Start"]].apply(reprCategory)
# training_data.info()
#len(training_data)

X[["Vowel/Consonant End", "Short/Long Name", "Vowel/Consonant Start","Feature End"]] = X[["Vowel/Consonant End", "Short/Long Name", "Vowel/Consonant Start","Feature End"]].apply(reprCategory)
#training_data.head()
X.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

   Vowel/Consonant Start  Short/Long Name  Vowel/Consonant End  Feature End
0                      0                1                    0            1
1                      0                1                    1            0
2                      0                1                    1            0
3                      0                0                    0            1
4                      0                1                    1            0

In [36]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.20)

In [31]:
# train, test = train_test_split(training_data, test_size = 0.20)

In [37]:
len(X_train)

75111

In [38]:
len(y_train)

75111

In [39]:
len(X_test)

18778

In [40]:
len(y_test)

18778

In [41]:
clf = DecisionTreeClassifier()

In [42]:
clf.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [43]:
clf.predict(X_test)

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [44]:
y_test

716917     0
1587817    1
1274854    1
1058078    0
1181468    0
          ..
1379066    0
1438914    0
1221800    1
1408743    0
703365     0
Name: Gender Value, Length: 18778, dtype: int64

In [45]:
clf.score(X_test,y_test)

0.7340504846096496

In [47]:
 clf

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [50]:
clf.feature_importances_

array([0.        , 0.02401466, 0.04424716, 0.93173819])

In [51]:
from sklearn.naive_bayes import MultinomialNB
nbclf = MultinomialNB()
nbclf.fit(X_train,y_train)
#nbclf.score(dv.transform(X_train),y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [52]:
nbclf.score(X_test,y_test)

0.7300564490361061

In [ ]:
#predictions = clf.predict(X_test,y_test[["Vowel/Consonant End", "Short/Long Name", "Vowel/Consonant Start","Feature End"]])
# accuracy_score(X_test,y_test["Gender Value"], predictions)

In [54]:
with open("decidenamesE.dot", "w") as dot_file:
    dot_file = export_graphviz(clf,
                            feature_names=["Vowel/Consonant End", "Short/Long Name", "Vowel/Consonant Start","Feature End"], out_file=dot_file)